<ion-view class="imgBackground" view-title="About">
	<ion-nav-buttons side="left">
		<button ng-controller="AppController" on-tap="openSideMenu()" class="button button-icon button-clear ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button ng-controller="AppController" class="button button-icon button-clear ion-ios-home-outline" on-tap="goToSponsor()">
    </button>
	</ion-nav-buttons>
	<ion-content padding="true">

    <!--Project explanation-->
    <div class="semiCircle"></div>
    <div class="shadowBox">
      <div>
        <p>
          <strong>Siyum Daily</strong> is an exciting new program. <i>Hundreds of people will become partners in completing an entire section of the  Torah in a single day!</i>
        </p>
        <p>
          We will begin with תהלים and ששה סדרי משנה. When you sign up for Siyum Daily, we will assign you one Mishnah and/or פּסוקים from תהלים.
        </p>
        <p>
          Thousands of people will each learn their own משנה or תהלים, making a siyum תהלים and משניות in just one day. After a few days, we’ll assign you a different משנה or תהלים. We’ll keep doing this day after day – so all of us collectively will be <em>making a Siyum every single day</em>.
        </p>
        <p>
          Later we’ll do the same with other parts of our vast Torah. Siyuim after Siyum! Day after day! So we’ll all be partners in a daily Kiddush Hashem many time over.
        </p>
        <p>
          Do you want to be part of it? Of course you do! Recruit your friends.
        </p>

        <u style="text-align:center;">About us</u>

        <p>
          Yeshiva Ateres Shimon is located in Far Rockaway NY. The yeshiva has a student body of more then 200, who are young working men ages 17- 45 and up.
          There are many different groups, shiurim and study partners that come learn in the Yeshiva throughout the day.
          The yeshiva’s early morning learning program starts at 5:45 am and our evening session late night learning goes as late as 11:00pm.
        </p>
        <p>
          We have 15 email-based learning programs that began 4 years ago with 25 people – and now, Baruch Hashem, Ateres Shimon’s email “yeshiva” has over 21,000 daily subscribers.
          We pray to Hashem for siyata diShmaya to continue being vehicles to glorify His great Name.
        </p>

        <br>
        <p style= "text-align:center; margin-bottom: 1em">
          Visit us at <a href="http://www.ateresshimon.org/index.html" on-tap="goToWebsite()">AteresShimon.org</a>
        </p>
        <p style= "text-align:center; margin-bottom: 1em">
          App created by Yonah Karp <a href="http://www.yonahkarp.com">Yonahkarp.com</a>
        </p>
      </div>
    </div>
    <div style="height: 1.5em">
    </div>
	</ion-content>
</ion-view>
