<p style="text-align: center; margin-top: 15px"> <strong>You earned another point!</strong>  </p>


<div class="outerBar">
  <div class="pointsBar" style="width: {{$root.percentProgress}}%;">
    <p> {{$root.percentProgress}}<span ng-show="$root.percentProgress > 15">%</span></p>
  </div>
</div>

<p style="text-align: center; margin-top: 15px"> Reach 100 and you can post a sponsor message for free! (stays for one week) </p>
<button ng-show="$root.percentProgress == 100" class="button button-block button-royal" on-tap="$root.showSponsorMessageModal()" >
  Post Free Message
</button>

<img class="center" src="img/mishna-trophy.png" width="150" height="150">

<p> We will give you another {{$root.table}} at the next cycle period, please don't forget the completed button in order to stay as an active user!</p>
